body{
    background-color:rgb(51, 65, 92);
    padding: 0;
    
}
.gif{
    position: absolute;
    left: 70%;
    top: 25%;
    height: 400px;
    width: 400px;
}
.pergunta{
    height: 90px;
    width: 400px;
    background-color: rgb(4, 102, 200 );
    padding: 15px;
    padding-top: 20px;
    font-family: "ＭＳ Ｐゴシック";
    color: aliceblue;
    font-size: 17.5px;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    top: 150px;
}
i{
    position: absolute;
    font-size: 40px;
    left: 65%;
    top: 260px;
    color:rgb(4, 102, 200 ) ;
}
header{
    background-color: rgb(3, 83, 164);
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border-bottom: 2px solid;
    border-color: aliceblue;
}
header > h1,h2{
    display: inline;
}
h2{
    font-size:30px ;
}
header >h1{
    margin-left: 640px;
   
}
li{
    position: absolute;
    list-style-type: none;
    top: 40%;
    left: 2%;
   
}
li > ul > button{
    height: 60px;
    width: 280px;
    font-size: larger;
    outline: none;
    background-color:rgb(4, 102, 200 ) ;
    border-color: aliceblue;
    color: aliceblue;
    transition: 0.5s;
}
li > ul{
    padding-top: 10px;
}
li > ul > button:hover{
    background-color:rgb(4, 130, 255);
    margin-left: 5%;
}
.dica {
    height: 90px;
    width: 400px;
    background-color: rgb(1, 138, 53);
    padding: 15px;
    padding-top: 20px;
    font-family: "ＭＳ Ｐゴシック";
    color: aliceblue;
    font-size: 17.5px;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    top: 350px;
    display: none;
    animation: dica 1s;
}
.help{
    position: absolute;
    height: 25px;
    width: 90px;
    left: 40.2%;
    top: 42.7%;
    border-radius: 1px;
    background-color:rgb(1, 138, 53) ;
    font-size: 25px;
    padding-left: 10px;
    font-family: "ＭＳ Ｐゴシック";
    color: aliceblue;
    display: none;
    animation: dica 1s;
}
.on{
    display: block;
}
@keyframes dica {
    from{
        
        transform: translateY(150%);
    }
    to{
        transform: translateY(0%);
        
    }
}
.errado{
    left: 15%;
    background-color: rgb(51, 65, 92);
}
.img1{
    position: absolute;
    height: 220px;
    width: 300px;
    top: 10%;
    left: 3%;
    display: none;
   
}
.img2{
    position: absolute;
    height: 220px;
    width: 320px;
    top: 10%;
    left: 3%;
    display: none;
   
}
.img3{
    position: absolute;
    height: 220px;
    width: 300px;
    top: 10%;
    left: 3%;
    display: none;
   
}
.img4{
    position: absolute;
    height: 220px;
    width: 300px;
    top: 10%;
    left: 3%;
    display: none;
   
}
.show{
    display: block
}
.troca{
    left: 15%;
    background-color: rgb(125, 133, 151);
}
.troca2{
    left: 15%;
    background-color: rgb(1, 138, 53);
}
.troca:hover{
    left: 5%;
}
.proximo{
    position: absolute;
    height: 60px;
    width: 150px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border: 2px solid;
    border-color: aliceblue;
    background-color: rgb(1, 138, 53);
    left: 85%;
    top: 85%;
    text-align: center;
   display: none;
   transition: 1s;
   animation: next 1s;
}
@keyframes next
 {

    from{
        transform: translateY(50%);
    }
    to{
        transform: translateY(0%);
    }
}
.ver{
    display: block;
}
.proximo:hover{
    width: 180px;
}